h1{
padding-top:180px;
padding-bottom:.5px;
text-align:center;
font-family: 'Barlow', sans-serif;
font-size:70px;
}

p{text-align:center;
font-size:17px;
}
 h5{
 font-family: 'Bubbler One', sans-serif;
 text-align:center;
}